:root{
    --primary-bakgrundsfärg: navy;
    --text: white;
    --shark_purple: #390091;
    --gray: #abbaba;
}

#stopit{
    width: 20rem;
    height: 20rem;
}
body {
    background: var(--primary-bakgrundsfärg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
footer {
  text-align: center;
  left: 50%;
  bottom: 0;
  padding: 5px;
  background-color: var(--shark_purple);
  color: var(--text);
  border-top: 4px solid var(--text);
  margin-top: 20px;
  margin-bottom: 0;
}

.column1{
    display: flex; 
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-between;
}

#Logo{
    width: 5rem;
    height: 5rem;
}

.column2{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.column3{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

#ButtonCounter:hover{
    background-color: red;
    color: white;
    cursor: pointer;

}

h1{
    animation: h1 1s ease-in-out;
}

@keyframes h1 {
    0% {
        transform: translate(-100px,0);

    }
    100% {
        transform: translate(0, 0);
    }
}
